h1 {
  font-size: 70px;
  margin-top: 20px;
}

p,
a,
input,
h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
}

button:hover {
  background-color: #94bd0267;
}
