.quiz_container {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

@media (max-width: 770px) {
  .quiz_container {
    flex-direction: column;
    align-items: center;
  }
}

.start_quiz_btn {
  max-width: 250px;
  font-size: 18px;
  background-color: #94bd02e5;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border: none;
}
