.quiz_container {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

@media (max-width: 770px) {
  .quiz_container {
    flex-direction: column;
    align-items: center;
  }
  .back_to_menu_btn {
    font-size: 15px;
  }
}

.start_quiz_btn,
.back_to_menu_btn,
.show_questions_btn,
.text_btn {
  max-width: 150px;
  font-size: 18px;
  background-color: #94bd02e5;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border: none;
}

.back_to_menu_btn {
  max-width: 250px;
}

.show_questions_btn {
  max-width: 100px;
  padding: 5px;
}

@media (max-width: 770px) {
  .back_to_menu_btn {
    font-size: 12px;
    padding: 6px;
  }
}

.blitz_container,
.blitz_question_container,
.blitz_question_item_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}
.blitz_theme_container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

.theme_item_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blitz_theme_container h2 {
  font-size: 18px;
}

.theme_item_btns_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.blitz_question_container {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  box-sizing: border-box;
  padding: 5px;
}

.blitz_question_item_container {
  border: 1px solid rgba(255, 255, 255, 0.178);
  border-radius: 10px;
  padding: 10px;
}

.delete_btn,
.flat_btn {
  max-width: 100px;
  font-size: 18px;
  background-color: #db3c3c;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  border: none;
}
.delete_btn:hover {
  background-color: #db5b5b;
}

.hidden {
  display: none;
}

.modal_content,
.modal_header,
.modal_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #4e4e4e28;
  border: 1px solid rgba(255, 255, 255, 0.13);

  padding: 20px;
  width: 205px;
  margin: auto;
  border-radius: 10px;
  gap: 20px;
  transition: all 0.2s ease-in-out;
}

.modal_header,
.modal_body {
  align-items: center;
}

.modal_body {
  color: aqua;
}

.modal_footer {
  justify-content: flex-end;
  gap: 24px;
  margin-top: 40px;
}
