.quiz_container {
  display: flex;
  justify-content: center;
}

.start_quiz_btn {
  margin-top: 20px;
  max-width: 250px;
  font-size: 18px;
  background-color: #94bd02e5;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  border: none;
}
